<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Navegue pelo Site</h2>
            </header>
            <ul>
                <li><a href="{{page.baseurl}}">Início</a></li>
                <li><a href="{{page.baseurl}}quem-somos">Quem Somos</a></li>
                <li><a href="{{page.baseurl}}residencia">Residência</a></li>
                <li><a href="{{page.baseurl}}estudante">Sou Estudante</a></li>
                <li><a href="{{page.baseurl}}profissional">Sou Profissional</a></li>
                <li><a href="{{page.baseurl}}desp "target="_blank">Direção Espiritual</a></li>
                <li><a href="{{page.baseurl}}ajude" target="_blank">Quero Ajudar</a></li>
                <li><a href="http://clube14bis.org.br" target="_blank">Clube 14 Bis</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
        
        <!-- Residência -->
        <section>
            <header class="major">
                <h2>Residência</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="{{page.baseurl}}residencia" class="image"><img src="{{page.baseurl}}assets/images/03.png" alt="" /></a>
                    <p>O Centro é uma Residência que conta com uma estrutura física de ambientes de convivência, Biblioteca, reflexão e espiritualidade, capacitada para receber universitários compromissados com sua formação.</p>
                </article>
                <article>
                    <a href="{{page.baseurl}}residencia" class="image"><img src="{{page.baseurl}}assets/images/04.png" alt="" /></a>
                    <p>Dormitórios individuais com banheiro, refeições, serviços de faxina e lavanderia, espaço para estudo, boa conexão Wi-fi, e salas para atividades culturais e de lazer.
                    </p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="{{page.baseurl}}residencia" class="button">Mais</a></li>
            </ul>
        </section>

        <!-- Contato -->
        <section>
            <header class="major">
                <h2>Contato</h2>
            </header>
            <p>Fale conosco através dos links abaixo</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="mailto:contato@esplanada.org.br" target="_blank">contato@esplanada.org.br</a></li>
                <li class="icon solid fa-phone"><a href="callto:+551239233858" target="_blank"></a>(12) 3923-3858</li>
                <li class="icon solid fa-home">Rua Teopompo de Vasconcelos, 86<br />
                Vila Adyana, São José dos Campos - SP, 12243-830</li>
                <li class="icon solid fa-map-marker-alt"><a href="https://goo.gl/maps/TF6zhZJwWJYVSrEd9" target="_blank">Como chegar</a></li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Centro Cultural Esplanada. Todos os Direitos Reservados.</p>
        </footer>

    </div>
</div>
